<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portal Login</title>
</head>
<body>
    <mat-card>
        <mat-card-content>
    <form action="" method="post">
        <mat-form-field>
        <label mat-label for="name"class="form-field">UserName</label>
        <input type="email" name="name" id="login" class="form-field" placeholder="email" required>
    </mat-form-field>
    <mat-form-field>
        <label mat-label for="password"class="form-field">Password</label>
        <input type="password" name="password" id="password" class="form-field" placeholder="password" required>
    </mat-form-field>
    <mat-card class="button">
        <button type="submit" mat-flat-button>Sign In</button>

        <button type="submit" mat-flat-button>Sign Up</button>
    </mat-card>
    </form>
</mat-card-content>
</mat-card>
</body>
</html>